@import "common/var.css";

@b cd{
  @e menu{
  position: absolute;
  user-select: none;
  @e center{
      display: inline-block;
      width: var(--menu-button-center-width);
      height: var(--menu-button-center-width);
      background: var(--menu-button-center-color);
      border-radius: 50%;
      font-size: var(--menu-button-center-size);
      line-height: var(--menu-button-center-width);
      text-align: center;
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0 20px var(--menu-item-shadow);
      @e icon{
        display: inline-block;
        transition: transform .3s;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
      }
      @e icon{
        @m active{
          transform: rotateZ(45deg);
        }
      }
    }
    @e center:hover{
      box-shadow: 0 0 20px var(--menu-item-hover-shadow);
    }
  }
}
